form {
  margin: 40px 0;
}

form label,
form legend {
  /* To align them vertically => display:block; */
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-block {
  /* To align them vertically => display:block; */
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.submit {
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  transition: 2s all;
  cursor: pointer;
}

.submit:hover {
  background-color: darkorange;
  transform: scale(1.5);
}

table {
  margin: 40px 40px;
}

thead {
  background-color: gray;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid black;
  padding: 8px 15px;
}